PORT=8000
MONGO_URI=mongodb://localhost:27017/intern-system
JWT_SECRET=replace_with_jwt_secret
JWT_REFRESH_SECRET=replace_with_refresh_secret
VAPID_PUBLIC_KEY=replace_with_vapid_public
VAPID_PRIVATE_KEY=replace_with_vapid_private

# Cloudinary
CLOUDINARY_CLOUD_NAME=replace_with_cloud_name
CLOUDINARY_API_KEY=replace_with_api_key
CLOUDINARY_API_SECRET=replace_with_api_secret
